<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CrossOver !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    </head>
    <body>
    <nav>
        <div class="nav-wrapper">
            <a href="{{ path('homepage') }}" class="brand-logo">Cross Over @app</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if ( is_granted('ROLE_USER')) %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    <li><a href="{{ path('article_add') }}">Add news</a></li>
                   <li> <a href="{{ path('article_list') }}">List news</a></li>
                {% else %}
                    <li><a  href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a  href="{{ path('fos_user_registration_register') }}">Register</a>></li>
                {% endif %}
                <li><a href="{{ path('article_rss') }}">Rss Feed</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="card-panel teal lighten-2">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
