{% if articles|length > 0 %}
    {% if ( is_granted('ROLE_USER')) %}
        <h3>Your news</h3>
    {% else %}
        <h3>Last 10 articles !</h3>
    {% endif %}
    {% for article in articles %}

        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s2">
                    {% if article.image.webPath is defined %}
                        <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}" class="circle responsive-img"> <!-- notice the "circle" class -->
                    {% else %}
                        <img src="{{ asset('uploads/img/no_image.png') }}" alt="no image" class="circle responsive-img"> <!-- notice the "circle" class -->
                    {% endif %}
                </div>
                <div class="col s10">
              <span class="black-text">
               {{ article.title }}
              </span>
                </div>
                <div class="col s10">
              <span class="black-text">
               {{ article.resume }}
              </span>
                </div>
                <a href="{{ path('article_show', {'id': article.id}) }}">Read more...</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h3>There is no articles :-(</h3>
    <a href="{{ path('article_add') }}">Add one !</a>
{% endif %}
