<h1>Cross Over Application</h1>
<img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(article.image.webPath) }}" alt="{{ article.image.alt }}">
<h3>Title:{{ article.title }}</h3>


<p>Content:{{ article.text }}</p>


<h5>Reporter: {{ article.reporter }}</h5>
<h5>Date: {{ article.curentDate|date('Y/m/d')  }}</h5>

